body{

background:linear-gradient(135deg,#667eea,#764ba2);

min-height:100vh;

font-family:Arial,sans-serif;

}

.card{

border-radius:20px;

background:white;

}

h2{

font-weight:bold;

color:#333;

}

label{

font-weight:600;

margin-bottom:5px;

}

.btn{

padding:12px;

font-size:18px;

font-weight:bold;

border-radius:10px;

}

.alert{

border-radius:15px;

font-size:18px;

}